@import "../../styles/variables.scss";

.button-style {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  font-family: $main-font;
  font-size: 1.2rem;
  background-color: $dark-brown;
  color: $colour-white;
  box-shadow: 2px 2px 5px $mid-brown;
}
.button-style:hover {
  background-color: $mid-brown;
  box-shadow: 2px 2px 5px $dark-brown;
  transition: 400ms;
}
