@import "../../styles/variables";
.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  font-family: $main-font;
  font-size: 1.8rem;
  padding: 10px;
  margin-top: 20px;
}
.filter-genre {
  display: flex;
  flex-direction: column;
}

.fiction-genre,
.non-fiction-genre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  font-weight: bold;
}

.fiction-genre-options,
.non-fiction-genre-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: normal;
  color: $colour-white;
}

.fiction-genre-options__labels,
.non-fiction-genre-options__labels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.6rem;
}
.fiction-genre-options__checks,
.non-fiction-genre-options__checks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 13px;
  gap: 22px;
  height: 100%;
}
