@import "../../styles/variables.scss";
.book-container {
  border: 1px solid $dark-brown;
  border-radius: 10px;
  box-shadow: 2px 2px 5px $dark-brown;
  height: 400px;
  width: 280px;
  font-family: $main-font;
  font-weight: bold;
  background-color: $colour-book;
  color: $dark-green;
  padding: 20px;
  margin: 10px 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.book-stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    &--image {
      width: 50%;
      box-shadow: 2px 2px 5px $dark-green;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &--blurb,
    &--quotes,
    &--edition,
    &--pages,
    &--genre {
      display: none;
    }

    &--title,
    &--author,
    &--published {
      display: flex;
    }
    &--button {
      width: fit-content;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}
